RewriteEngine On
RewriteBase /

# Si le fichier/dossier n'existe pas, rediriger vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ src/index.php [QSA,L]

# Autoriser les requêtes POST
<LimitExcept GET POST>
    Order deny,allow
    Deny from all
</LimitExcept>
